@import "../../node_modules/tailwindcss/dist/lib.d.mts";

@layer base { }
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-white: #FFFFFF;
    --color-primary: #8042F1;
    --color-success: #29BD91;
    --color-info: #11BCFF;
    --color-yellow:#FFB811;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #8042F1;
    --success: #29BD91;
    --info: #11BCFF;
    --yellow:#FFB811;
    --gradient-blue: linear-gradient(90deg, #1BABE4 0%, #11BCFF 100%);
    --gradient-green: linear-gradient(90deg, #495973 0%, #29BD91 100%);
    --gradient-purple: linear-gradient(90deg, #9747FF 0%, #11BCFF 100%);
}

@layer utilities {
    .bg-gradient-blue {
        background: var(--gradient-blue);
    }
    .bg-gradient-green {
        background: var(--gradient-green);
    }
    .bg-gradient-purple {
        background: var(--gradient-purple);
    }
    .text-gradient-purple {
        background: linear-gradient(90deg, #9747FF 0%, #11BCFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .shadow-blue {
        box-shadow: 4px 8px 12px rgba(17, 188, 255, 0.12);
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    margin: 0;
    padding: 0;
}




